.sidebar{
    top: 80px;
    position: sticky;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}

.sidebar_avatar{
    margin-bottom: 10px;
}

.sidebar__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.sidebar__top > img{
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.sidebar__stats{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px ;

    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar__stat{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;   
}
.sidebar__stat > p{
    color: gray;
    font-size: 12px;
    font-weight: 700;
}
.sidebar__statnumber{
    font-weight: bold;
    color: #0a66c2 !important;
}

.sidebar__top > h4{
    color: gray;
    font-size: 12px;

}

.sidebar__top > h2{
    font-size: 18px;
    
}

.sidebar__bottom
{
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.sidebar__bottom > p {
    text-align: center;
    font-weight: 600;
}

.recent__item{
     color: gray;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;

}
.recent__item__hash{
    margin-left: 8px;
}

.recent__item:hover{
    color: black;
    border-radius: 10px;
    cursor: pointer;
    background-color: whitesmoke;
}
